/* Informações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --fundo: #191514;
    --blue: #007692;
    --marine: #040222;
    --back: #f7f7f7;
    --border: none; /*1px solid var(--marine);*/
  }
body {
  background-color: var(--fundo);
  z-index: -1px;
  color: var(--marine);
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--marine); 
}
a:link, a:active, a:visited {
  text-decoration: none;
  color: var(--back);
}

/* === Tamanho e Alinhamentos das Seções === */

header, section, footer {
  border: var(--border);
  width: 96vw;
  display: flex;
}
.menu-superior {
  justify-content:center;
  align-items:center;
  height: 7vh;
  color: var(--blue);
}
.social-links, .menu {
  border: var(--border);
  width: 48%;
}
.menu {
  text-align: end;
}
.menu-superior a {
  margin: 0 10px 0 10px;
}
section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about, .expirence, .study-course, .ability, .portfolio {
  border: var(--border);
  width: 92vw;
  height: 90vh;
}
footer {
  height: 7vh;
}

/* === Menu Superior === */

a i{
  font-size: 25px;
  color: var(--back);
}
a i:hover{
  color: var(--blue);
}
a:hover{
  color: var(--blue);
}

/* === Seção: about === */

.about {
  background-image: linear-gradient(to top, transparent 0%, var(--fundo) 100%),
                   url(../img/fundo_main.jpg);
}

.expirence {
  background-color: #040222;
}



/* === Foto e Informações Pessoais === */


/* ===>>> RESPONSIVIDADE <<<=== */

@media (max-width: 740px) {
  .about {
    background-image: none;
    background-color: var(--fundo);
  }
}