/* Informações Gerais */

* {
    margin: 0;
    padding: 0;
  }
  
  :root{
    --fundo: #191514;
    --blue: #007692;
    --marine: #040222;
    --back: #f7f7f7;
    --border: none; /*1px solid var(--back);*/
  }
body {
  background-image: linear-gradient(to bottom, transparent 10%, var(--fundo), var(--fundo)),
                   url(../img/fundo_main.jpg);
  color: var(--back);
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--marine); 
}
a:link, a:active, a:visited {
  text-decoration: none;
  color: var(--back);
}


/* === Tamanho e Alinhamentos das Seções Pais=== */

header, section, footer {
  border: var(--border);
  width: 96vw;
  display: flex;
}
section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about, .study-course, .ability, .portfolio {
  width: 96vw;
  height: 85vh;
}
footer {
  height: 7vh;
}

/* === Menu Superior === */

.menu-superior {
  margin: 10px 0 10px 0;
  width: 96vw;
  height: 7vh;
  justify-content:space-between;
  align-items:center;
  color: var(--blue);
}
.social-links, .menu {
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 35vh;
}
.social-links {
  width: 20vw;
}
.menu {
  width: 45vw;
  text-align: end;
}
a i{
  font-size: 25px;
  color: var(--back);
}
a i:hover{
  color: var(--blue);
}
a:hover{
  color: var(--blue);
}


/* === Sobre === */

.about {
  background-image: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.95));
  border-radius: 2em;
  margin: 10px 0 10px 0;
  color: var(--back);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-sup {
  width: 96%;
  height: 80%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.img, .sup-txt {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img {
  width: 30%;
  justify-content: center;
  border-radius: 30%;

  background-image: linear-gradient(rgba(1,1,1,.95),rgba(0,0,0,.95));
  padding: 15px;
}
.sup-txt {
  width: 35%;
  justify-content: space-evenly;
}
.sup-txt p {
  margin-bottom: 50px;
}



/* === Experiência === */

.expirence, .study-course, .ability, .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.expirence {
  width: 96vw;
  height: 100vh;
}
.expirence {
  background-color: #040222;
  color: var(--back);
}
.cronos-title {
  margin-bottom: 30px;
}
.cronos {
  width: 95%;
  height: 25%;
  font-size: 0.7em;

  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.cronos-right, .cronos-left {
  width: 40%;
  height: 50%;
  text-align: center;
}

/* === Estudos e Cursos === */

.study-course {
  background-color: #626170;
}

/* === Habilidades === */

.ability {
  background-color: #756de0;
}

/* === Portifólio === */

.portfolio {
  background-color: #24242e;
}



/* ============================ */
/* ===>>> RESPONSIVIDADE <<<=== 

@media (max-width: 740px) {
  .about {
    background-image: none;
    background-color: var(--fundo);
  }
}


*/