section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 30px;
    width: 96%;
    height: 500px;
    color: #fff;
}
.aboutleft{
    width: 50%;
    height: 100%;
}
.aboutleft p{
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 15px;
    line-height: 5px;
    color: #000;
    font-weight: bolder;
}
.aboutright{
    width: 50%;
    height: 100%;
    background-color: #2a2a2a;
}
.aboutright p, h2{
    margin: 10px;
    text-align: justify;
    padding: 7px;
}
.aboutright p:first-child{
    font-weight: bolder;
}
.aboutright h2{
    color: #faf604;
    font-weight: bolder;
    font-size: 30px;
}