*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, #696969 25%, #000 40%, transparent 100%), url("/img/fundo.jpg");
    background-size: 100%
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #faf604;
}