html, body{height: 100%;}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    text-align: center;
}

body{
    background: black;
    color: white;
    font: normal 32px Helvetica;
    align-items: center;
    margin: auto;
    height: 100%;
}

/*DENTRO DO HEADER*/

.fundo{
    background-image: url("image/fundo.jpg");
}

header{
    display: inline-flex;
    align-items: flex-start;
    width: 100%;    
}

.logo{
    text-align: end;
}

.logo img{
    width: 130px;
}

header div{
    margin: auto;
    width: 260px;
    border: none;
}

.lang{
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}

.lang1{
    text-align: end;
    align-content: center;
}

.login{
    text-align: start;
}

.but1{
    background-color: red;
    width: 100px;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/*DENTRO DAS SECTIONS*/

section{
    padding: 25px;
}

.sec1{
    margin-top: 150px;
}

h1{
    font-size: 50px;
}

.p1{
    font-size: 26px;
    margin: 30px;
}
.p2{
    font-size: 19.2px;
    margin: 30px;
}

.but2{
    background-color: red;
    border: none;
    color: white;
    padding: 18px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: -10px;
}

.busca{
    background-color: white;
    border: none;
    color: black;
    padding: 18px 70px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.form{
    margin: 50px;
}